* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 245);
  color: black;
}
.navbar {
  height: 55px;
  width: 100%;
  background-color: white;
  display: flex;

  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1000;
  top: 0;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.navleft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.navleft i {
  margin-left: 10px;
}
.navleft input {
  border-radius: 20px;
  height: 40px;
  padding-left: 10px;
  margin-left: 5px;
  background-color: rgb(240, 242, 245);
  border: none;
  width: 220px;
}

.navcent {
  height: 50px;
  width: 500px;
  position: relative;
  right: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  left: 3px;
  font-size: 18px;
}

.navcent i {
  height: 50px;
  width: 20%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.navcent i:not(.bn):hover {
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
  cursor: pointer;
}

.bn {
  border-radius: 0%;
  border-bottom: 2px solid rgb(8, 102, 255);
  cursor: pointer;
}

.navright {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  font-size: 20px;
}
.navright i {
  height: 40px;
  width: 40px;
  background-color: rgb(228, 230, 235);
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.navright i:hover {
  background-color: rgb(216, 218, 223);
  cursor: pointer;
}

.navright img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

/* navbar ended */

/* main body started */

.main {
  background-color: rgb(240, 242, 245);
  display: flex;
  color: black;
  position: relative;
  top: 40px;
}

.leftpart {
  height: 100vh; /* Full viewport height to allow scrolling */
  width: 280px;
  overflow-y: scroll; /* Enable vertical scrolling */
  position: fixed;
  top: 0; /* Ensure it stays fixed at the top */
  background: transparent;
  overflow-x: hidden;
 
}

.leftpart::-webkit-scrollbar {
  width: 7px;
}

.leftpart::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(240,242,245);
  opacity: 0; /* Hidden scrollbar by default */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.leftpart:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* Show scrollbar on hover */
  background: rgb(153, 152, 152);
}



.dp1{
  margin-left: 15px;
  margin-top: 75px;
  display: flex;
  height: 44px;
  width: 264px;
 
  align-items: center;
  cursor: pointer;
  
}

.dp1:hover{
  background-color: rgb(228,230,232);
}


.dp1 img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.dp1 p,.minicons p{
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
}




.minicons{
  display: flex;
  align-items: center;
  margin-left: 15px;
  height: 44px;
  width: 264px;
  

}


.minicons:hover{
  background-color: rgb(228,230,232);
  border-radius: 10px;
  cursor: pointer;
}

.minicons img{
  height: 36px;
  width: 36px;
}


.scut{
  color: rgb(103,105,109);
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 10px;
  height: 50px;

}

.scut p{
  font-size: 15px;
  color: rgb(8,102,255);
  height: 20px;
  width: 40px;
 position: relative;
 left: 5px;
  align-items: center;
  text-align: center;
}

.scut p:hover{
  background-color: rgb(228,230,232);
  border-radius: 10px;
  cursor: pointer;
}


/* 
left part ended

center part started */





